<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Block Content -->
                </div>

                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Sidebar widget -->
                    
                </div>
            </div>
        </div>

        <!-- Footer-->
        
        <!-- Bootstrap core JS-->
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>
