{% extends "blog/base.html" %}

{% block content %}
    <article class="post-details">
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">{{ object.title }}</h1>
            <div class="text-muted fst-italic mb-2">
                Posted on {{ object.date_posted|date:"F d, Y" }} by 
                <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">
                    {{ object.author }}
                </a>
            </div>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
            <div class="mt-3">
                <a class="btn btn-info" href="{% url 'post_update' object.id %}">Update</a>
                <a class="btn btn-danger" href="{% url 'post_delete' object.id %}">Delete</a>
            </div>
        </header>
        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ object.content }}</p>
        </section>
    </article>
{% endblock content %}